beautifulsoup4==4.6.3
bs4==0.0.1
matplotlib==3.2.1
numpy==1.18.5
opencv-contrib-python-headless==4.5.2.52
opencv-python==4.2.0.34
pandas==1.0.5
pandocfilters==1.4.2
plotly==4.14.3
plotly-express==0.4.1
pydeck==0.5.0
Pylons==1.0
requests==2.21.0
scipy==1.4.1
seaborn==0.9.0
spacy==2.1.8
sqlparse==0.3.1
streamlit==0.47.0
tensorflow==2.0.1
tensorflow-cpu==1.15.0
tensorflow-cpu-estimator==1.15.1
tensorflow-estimator==2.0.1
tf-explain==0.2.1
urllib3==1.24.3
